html {
  margin-left: 35px;
  margin-right: 35px;
}

#nameBanner {
    font-size: 60px;
}

#navBar {
	font-size: 46px;
}

@media screen and (min-width: 100px) {
    #nameBanner {font-size: 24px;}
    #navBar {font-size: 20px;}
}
@media screen and (min-width: 600px) {
    #nameBanner {font-size: 36px;}
    #navBar {font-size: 28px;}
}
@media screen and (min-width: 1200px) {
    #nameBanner {font-size: 48px;}
    #navBar {font-size: 36px;}
}
@media screen and (min-width: 1600px) {
    #nameBanner {font-size: 60px;}
    #navBar {font-size: 46px;}
}

/*=======Fonts========*/
@font-face {
  font-family: woodcut;
  src: url(../fonts/WOODCUT.TTF);
}

#woodcut {
  font-family: woodcut;
  color: #037613;
}

@font-face {
  font-family: alfredo;
  src: url(../fonts/ALFREDO.TTF);
}

#alfredo {
  font-family: alfredo;
  font-size: 60px;
  color: #037613;
}

@font-face {
  font-family: old;
  src: url(../fonts/old.TTF);
}

#old {
  font-family: old;
  font-size: 40px;
}

@font-face {
  font-family: custom;
  src: url(../fonts/custom.TTF);
}

#custom {
  font-family: custom;
  font-size: 60px;
  color: #037613;
}


a:link {
    color: red;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: blue;
}

#pagebreak {
	width: 90%;
	height: 40px;
}

#name {
	margin-top: 35px;
	width: 90%;
	display: block;
}

.me {
  width: 250px;
}

.bottom {
	margin-bottom: 0px;
}

#pic {
    box-shadow: 0px 0px 3px #888888;
    width: 50%;
    max-width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

#project {
  width: 80%;
}

#border {
  border-width: 1px;
  border-style: solid;
}

.template {
  width: 75%;
}



/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

ul.simple-pagination {
  list-style: none;
}

.simple-pagination {
  display: block;
  overflow: hidden;
  padding: 0 5px 5px 0;
  margin: 0;
}

.simple-pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.simple-pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}
span.ellipse.clickable {
  cursor: pointer;
}

.ellipse input {
  width: 3em;
}

/*------------------------------------*\
 Pagination Styles
\*------------------------------------*/

ul.simple-pagination {
    list-style: none;
}
.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}
.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
.light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #efefef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #efefef 100%);
    /* W3C */
}
.light-theme a:hover {
    text-decoration: none;
    background: #FCFCFC;
}
.light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}
.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}