/*    . is class
      # is id   */
html {
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h1 {
	text-align: center;
	color: white;
	background-color: red;
}

h3 {
	text-align: left;
	color: #800000;
}

/*
nav {
	background-color: blue;
	color: yellow;
}

a:link {
	text-decoration: none;
	color: yellow;
}

a:hover {
	text-decoration: none;
	color: orange;
	}
*/
a:active {
	text-decoration: none;
	color: red;
}


.imgWidth {
	width: 300px;
	height: 300px;
}

#navHead {
	font-size: 18pt;
	text-align: left;
	text-align: middle;
}

input {
	height: 50px
	width: 300px;
}

.contact {
	background-color: #65EEBF;
	color: black;
}

#form {
	font-family: monospace;
	margin-left: 150px;
}

h2 {
	margin-left: 25px;
	font-family: monospace;
	color: #FF0000;
	font-weight: bold;

}

.emphasis {
	font-style: italic;
}