html {
  margin-left: 35px;
  margin-right: 35px;
}


/*=======Fonts========*/
@font-face {
  font-family: woodcut;
  src: url(../fonts/WOODCUT.TTF);
}

#woodcut {
  font-family: woodcut;
  font-size: 60px;
  color: #037613;
}

@font-face {
  font-family: alfredo;
  src: url(../fonts/ALFREDO.TTF);
}

#alfredo {
  font-family: alfredo;
  font-size: 60px;
  color: #037613;
}

@font-face {
  font-family: old;
  src: url(../fonts/old.TTF);
}

#old {
  font-family: old;
  font-size: 40px;
}

@font-face {
  font-family: custom;
  src: url(../fonts/custom.TTF);
}

#custom {
  font-family: custom;
  font-size: 60px;
  color: #037613;
}


a:link {
    color: red;
}

/* mouse over link */
a:hover {
    color: purple;
}

/* selected link */
a:active {
    color: blue;
}

#pagebreak {
	width: 90%;
	height: 40px;
}

#name {
	margin-top: 35px;
	width: 90%;
	display: block;
}

.me {
  width: 250px;
}

.bottom {
	margin-bottom: 0px;
}

#pic {
    box-shadow: 0px 0px 3px #888888;
    width: 50%;
    max-width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

#project {
  width: 80%;
}

#border {
  border-width: 1px;
  border-style: solid;
}

.template {
  width: 75%;
}

.figCont {display:block; padding-top:20px;}
.figCont div {display:none;}
.figCont div.current {display:block;}
.figCont div figure {background:#fff; border:1px solid #ccc; width:200px; height:50px; margin:0 auto 10px auto; text-align:center; line-height:50px;}

.paging {display:block; clear:both; text-align:center; position:static; left:initial; top:initial; width:auto; padding:20px 0;}
.paging a {background:#ccc; display:inline-block; width:20px; height:20px; font-size:12px; line-height:20px; text-align:center; font-family:Arial, sans-serif; margin:0 5px 0 0; padding:0; color:#8b887c;}
.paging a.active, .paging a:hover {background:#fff; color:#383735;}
